<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/shop.css">
</head>
<body>
    <div id="header">
        <div id="header-div">
            <div id="logo-div">
                <img src="../images/topLogo.png" alt="">
            </div>
            <div id="submenu-div">
                <ul>
                    <li><a href=""><img src="../images/topmune_08.png" alt=""><span>退出</span></a></li>
                    <li><a href=""><img src="../images/qingchu.png" alt=""><span>清除缓存</span></a></li>
                    <li><a href=""><img src="../images/topmune_07.png" alt=""><span>关于 ECSHOP</span></a></li>
                    <li><a href=""><img src="../images/topmune_007.png" alt=""><span>帮助</span></a></li>
                    <li><a href=""><img src="../images/topmune_06.png" alt=""><span>查看网店</span></a></li>
                    <li><a href=""><img src="../images/topmune_05.png" alt=""><span>管理员留言</span></a></li>
                    <li><a href=""><img src="../images/topmune_04.png" alt=""><span>个人设置</span></a></li>
                    <li><a href=""><img src="../images/topmune_03.png" alt=""><span>刷新</span></a></li>
                    <li><a href=""><img src="../images/topmune_02.png" alt=""><span>记事本</span></a></li>
                    <li><a href=""><img src="../images/topmune_01.png" alt=""><span>开店向导</span></a></li>
                    <li  style="width:102px;border-left:none;"><a href="" style="color:#ff0;width:102px;font-weight:bold;"><img src="../images/topmune_09.png" alt=""><span>更多模板堂产品</span></a></li>
                </ul>
            </div>
        </div>
        <div id="menu-div">
            <ul>
                <li class="fix-spacel">&nbsp;</li>
                <li style="border-left:none;"><a href=""><img src="../images/index-11_07.png" width="17" height="18" align="absmiddle" alt=""><span>起始页</span></a><span class="muneFG"></span></li>
                <li><a href=""><img src="../images/index-11_41.png" width="17" height="18" align="absmiddle" alt=""><span>设置导航栏</span></a><span class="muneFG"></span></li>
                <li><a href=""><img src="../images/index-11_09.png" align="absmiddle" alt=""><span>商品管理</span><span class="num">2</span></a><span class="muneFG"></span></li>
                <li><a href=""><img src="../images/dd.png" alt="" width="15px" height="18" align="absmiddle"><span>订单管理</span><span class="num">0</span></a><span class="muneFG"></span></li>
                <li><a href=""><img src="../images/index-11_13.png" width="17" height="20" align="absmiddle" alt=""><span>广告管理</span><span class="num">0</span></a><span class="muneFG"></span></li>
                <li><a href=""><img src="../images/index-11_19.png" width="17" height="18" align="absmiddle" alt=""><span>用户评论</span><span class="num">0</span></a><span class="muneFG"></span></li>
                <li><a href="">商品列表</a></li>
                <li><a href="">订单列表</a></li>
                <li><a href="">用户评论</a></li>
                <li><a href="">会员列表</a></li>
                <li><a href="">商店设置</a></li>
                <li><a href="">移动版</a></li>
            </ul>
        </div>
    </div>

    <div id="content">
        <div id="left" scrolling="yes">
            <div id="tabbar-div">
                <p><span class="tab-front" id="menu-tab">导航菜单</span></p>
            </div>
            <div id="main-div">
                <div id="menu-list">
                    <ul id="menu-ul">
                        <li class="collapse lis ico_1">商品管理
                            <ul>
                                <li class="menu-item"><a href="/add_goods" target="main-frame" class="on">商品列表</a></li>
                                <li class="menu-item"><a href="/add_goods2" target="main-frame">添加新商品</a></li>
                                <li class="menu-item"><a href="">商品分类</a></li>
                                <li class="menu-item"><a href="">用户评论</a></li>
                                <li class="menu-item"><a href="">商品品牌</a></li>
                                <li class="menu-item"><a href="">商品类型</a></li>
                                <li class="menu-item"><a href="">商品回收站</a></li>
                                <li class="menu-item"><a href="">图片批量处理</a></li>
                                <li class="menu-item"><a href="">商品批量上传</a></li>
                                <li class="menu-item"><a href="">商品批量导出</a></li>
                                <li class="menu-item"><a href="">商品批量修改</a></li>
                                <li class="menu-item"><a href="">生成商品代码</a></li>
                                <li class="menu-item"><a href="">标签管理</a></li>
                                <li class="menu-item"><a href="">虚拟商品列表</a></li>
                                <li class="menu-item"><a href="">添加虚拟商品</a></li>
                                <li class="menu-item"><a href="">更改加密串</a></li>
                                <li class="menu-item"><a href="">商品自动上下架</a></li>
                            </ul>
                        </li>
                        <li class="collapse lis ico_2">促销管理</li>
                        <li class="collapse lis ico_3">订单管理</li>
                        <li class="collapse lis ico_4">广告管理</li>
                        <li class="collapse lis ico_5">报表统计</li>
                        <li class="collapse lis ico_6">文章管理</li>
                        <li class="collapse lis ico_7">会员管理</li>
                        <li class="collapse lis ico_8">权限管理</li>
                        <li class="collapse lis ico_9">系统设置</li>
                        <li class="collapse lis ico_10">模板管理</li>
                        <li class="collapse lis ico_11">数据库管理</li>
                        <li class="collapse lis ico_12">短信管理</li>
                        <li class="collapse lis ico_13">推荐管理</li>
                        <li class="collapse lis ico_14">邮件群发管理</li>
                        <li class="collapse lis ico_15">移动版管理</li>
                        <li class="collapse lis ico_15">模板堂知识库</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="right">
            <iframe src="" id="main-frame" name="main-frame">
                
            </iframe>
        </div>
    </div>
</body>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
    $("#menu-ul li").click(function(){
        if( $(this).children(".collapse>ul").is(":hidden")){
            $(this).css("background","#454545 url(../images/menu1_1.png) 9px 0 no-repeat");
        }else{
            $(this).css("background","#454545 url(../images/menu_1.png) 9px 0 no-repeat");
        };
        $(this).children(".collapse>ul").toggle(0);
    })
</script>
</html>